<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <% for(obj of data){ %>
        <div class="parent">
            <p>ID: <%=obj.id%></p>
            <h3><%=obj.author%></h3>
            <p>Content: <%=obj.content%></p>
            <br>
            <a href="/posts/<%=obj.id%>/edit">Edit</a>
            <form method="post" action="/posts/<%=obj.id%>?_method=DELETE">
                <button>DELETE</button>
            </form>
        </div>
    <% } %>
    <a style="color: aliceblue; background-color: black;" href="/posts/new">CREATE</a>
   
</body>
</html>